<nav class="nav">
    <h1><a routerLink="/">E-Comm</a></h1>
    <div *ngIf="menuType !== 'seller'" class="nav-search">
        <input type="text" 
        #searchInput
        (keyup)="searchProducts($event)" 
        (blur)="hideSearch()" 
        placeholder="Buscar Productos">
        <button (click)="submitSearch(searchInput.value)">Buscar</button>
        <ul class="suggested-result" *ngIf="searchResult">
            <li *ngFor="let item of searchResult">
                <a (mousedown)="redirectToDetails(item.id)">{{ item.name }}</a>
            </li>
        </ul>
    </div>
    <div [ngSwitch]="menuType">
        <ul *ngSwitchCase="'default'">
            <li><a routerLink="/seller-auth">Seller</a></li>
            <li><a routerLink="/">Inicio</a></li>
            <li><a routerLink="/user-auth">Iniciar Sesión | Registrarse</a></li>
            <li><a href="#">Carro({{ cartItems }})</a></li>
        </ul>

        <ul *ngSwitchCase="'user'">
            <li><a routerLink="/seller-auth">Seller</a></li>
            <li><a routerLink="/">Inicio</a></li>
            <li><a routerLink="/user-auth">{{ userName | titlecase }}</a></li>
            <li><a routerLink="my-orders">Ordenes de Compra</a></li>
            <li><a (click)="userLogout()">Cerrar Sesión</a></li>
            <li><a [routerLink]="cartItems>0?'/cart-page':null">Carro({{ cartItems }})</a></li>
        </ul>

        <ul *ngSwitchCase="'seller'">
            <li><a routerLink="/seller-auth">Lista Productos</a></li>
            <li><a routerLink="/seller-add-product">Agregar Producto</a></li>
            <li><a (click)="logout()">Cerrar Sesión</a></li>
            <li><a href="#">{{ sellerName | titlecase }}</a></li>
        </ul>
    </div>
</nav>