<div class="footer">
    <ul>
        <li>
            <a href="">¿Tienes algo para vender?</a>
        </li>

        <li>
            <a href="">Términos y Condiciones</a>
        </li>

        <li>
            <a href="">Centro de Asistencia</a>
        </li>

        <li>
            <a href="">Novedades</a>
        </li>

        <li>
            <a href="">Facebook</a>
        </li>

        <li>
            <a href="">Instagram</a>
        </li>

        <li>
            <a href="">Mapa del Sitio</a>
        </li>

        <li>
            <a href="">FAQ</a>
        </li>
    </ul>
</div>