<footer class="footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-lg-6">
                <div class="extra-section mb-5">
                    <form class="subscribe-form" action="#">
                        <div class="form-group d-flex">
                            <input class="form-control subscribe-input rounded-start-3 border-0 me-1" type="text" placeholder="Ingrese un correo">
                            <input class="form-control submit px-3 rounded-pill" type="submit" value="Subscribirme"
                                style="max-width: 30%;">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-lg-5">
                <div class="row">
                    <div class="col-md-12 col-lg-8 mb-md-0 mb-4">
                        <h2 class="footer-heading">SOBRE NOSOTROS</h2>
                        <p>
                            NEOPERSA es una plataforma de compra y venta 
                            de productos físicos y digitales.
                            Las categorías de productos físicos incluyen
                            inmuebles, autos, moda y otros, mientras
                            que en las categorías digitales pdrá encontrar
                            imágenes, videos, libros y más contenido creado 
                            de manera digital por humanos y/o por inteligencias 
                            artificiales generativas como ChatGPT, Midjourney, 
                            entre otras.
                        </p>
                        <a href="#">saber más <i-bs name="caret-right"></i-bs></a>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-lg-7">
                <div class="row">
                    <div class="col-md-6 mb-md-0 border-start">
                        <h2 class="footer-heading">¿Qué es un Market Digital?</h2>
                        <p>
                            El <strong>Market Digital</strong> corresponde a una
                            sección de neopersa donde pueden comprar y vender activos
                            digitales, sean estos creados por ti o por una IA
                        </p>
                    </div>
                    <div class="col-md-4 mb-md-0 border-start">
                        <h2 class="footer-heading">Servicio al Cliente</h2>
                        <ul>
                            <li><a class="py-1 d-block" href="#">Centro de Asistencia</a></li>
                            <li><a class="py-1 d-block" href="#">Devoluciones y Reclamos</a></li>
                            <li><a class="py-1 d-block" href="#">FAQ</a></li>
                            <li><a class="py-1 d-block" href="#">Contáctanos</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 mb-md-0 border-start">
                        <h2 class="footer-heading">Encuéntranos en</h2>
                        <ul>
                            <li><a class="py-1 d-block" href="#"><i-bs name="facebook" width="2rem" height="2rem"></i-bs></a></li>
                            <li><a class="py-1 d-block" href="#"><i-bs name="instagram" width="2rem" height="2rem"></i-bs></a></li>
                            <li><a class="py-1 d-block" href="#"><i-bs name="twitter" width="2rem" height="2rem"></i-bs></a></li>
                            <li><a class="py-1 d-block" href="#"><i-bs name="pinterest" width="2rem" height="2rem"></i-bs></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row details-wrap mt-5">
            <div class="col-md-12">
                <div class="row align-items-center">
                    <div class="col-md-12 me-4" style="display: grid;">
                        <p class="details-name mb-0">
                            <a href="#"><span class="ion-logo-ionic mr-2 me-4"><i-bs name="record2-fill" width="1.5rem" height="1.5rem"></i-bs>Guía para Creadores Digitales</span></a>
                            <a href="#"><span class="ion-logo-ionic mr-2 me-4"><i-bs name="record2-fill" width="1.5rem" height="1.5rem"></i-bs>Términos y Condiciones</span></a>
                            <a href="#"><span class="ion-logo-ionic mr-2 me-4"><i-bs name="record2-fill" width="1.5rem" height="1.5rem"></i-bs>Novedades</span></a>
                            <a href="#"><span class="ion-logo-ionic mr-2 me-4"><i-bs name="record2-fill" width="1.5rem" height="1.5rem"></i-bs>Mapa del Sitio</span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6 col-lg-12">
                <p class="copyright">
                    neopersa® Todos los Derechos Reservados | Esta plataforma ha sido creada por <a href="#">Digiteo®</a>
                </p>
            </div>
        </div>

    <!--
        <ul>
            <li>
                <a href="">¿Tienes algo para vender?</a>
            </li>

            <li>
                <a href="">Términos y Condiciones</a>
            </li>

            <li>
                <a href="">Centro de Asistencia</a>
            </li>

            <li>
                <a href="">Novedades</a>
            </li>

            <li>
                <a href="">Facebook</a>
            </li>

            <li>
                <a href="">Instagram</a>
            </li>

            <li>
                <a href="">Mapa del Sitio</a>
            </li>

            <li>
                <a href="">FAQ</a>
            </li>
        </ul>
    -->
    </div>
</footer>