<div style="height: 5rem;">
    <tabset>
      <tab heading="GENERAL" id="tab1">Comp General</tab>
      <tab heading="MUJER">Comp Mujer</tab>
      <tab heading="HOMBRE">Comp Hombre</tab>
      <tab heading="TECNOLOGÍA">Comp Tecnología</tab>
      <tab heading="DEPORTE">Comp Deporte</tab>
      <tab heading="HOGAR">Comp Hogar</tab>
      <tab heading="MASCOTAS">Comp Mascotas</tab>
      <tab heading="OTROS">Comp Otros</tab>
      <tab heading="MARKET DIGITAL">Comp Market Digital</tab>
    </tabset>
</div>
