.user-auth h1{
    margin-bottom: 50px;
    margin-top: 80px;
    color: blue;
    text-align: center;
}

.user-auth{
    margin-bottom: 100px;
}

.common-form a{
    color: blue;
    cursor: pointer;
}