<div class="update-product">
    <h1>Actualizar/Editar Producto</h1>
    <p class="message-p">{{ productMessage }}</p>
    <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="common-form">
        <input 
        type="text"
        class="form-input"
        placeholder="Nombre Producto"
        name="name"
        ngModel = "{{ productData?.name }}"
        />

        <input 
        type="text"
        class="form-input"
        placeholder="Precio Producto"
        name="price"
        ngModel = "{{ productData?.price }}"
        />

        <input 
        type="text"
        class="form-input"
        placeholder="Color Producto"
        name="color"
        ngModel = "{{ productData?.color }}"
        />

        <input 
        type="text"
        class="form-input"
        placeholder="Categoría Producto"
        name="category"
        ngModel = "{{ productData?.category }}"
        />

        <textarea 
        type="text"
        class="form-input"
        placeholder="Detalles Producto"
        name="details"
        ngModel = "{{ productData?.details }}"
        ></textarea>

        <input 
        type="text"
        class="form-input"
        placeholder="URL imágen Producto"
        name="image"
        ngModel = "{{ productData?.image }}"
        />
        <button class="form-button">Actualizar Producto</button>
    </form>
</div>